@charset "UTF-8"; 
*{list-style-type:  none;}
body{
    margin: 20px;
    padding: 0;
    width: 90%;
    height: 70vh;
    background-color: white;
    align-items: center;
}
.promogin {
    position: fixed;
    align-items: center;
    background-color: #434343;
    padding: 15px 30px;
    border-radius: 10px; /*arredondar bordas*/
    z-index: 1000;
    max-width: 600%;
    width: 80%;
}

.promogin a {  
    text-align: left;
    text-decoration: none;  /*remove underline do link*/
    color: white;
    font-size: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.promogin strong {
    color: #FC8A06; /*cor destaque do PROMO GIN5 */
}

/*responsividade*/
/*reduz para telas tablets*/
@media (max-width: 768px) {
    .promogin {
        max-width: 600px;
        padding: 12px 24px;
        font-size: 14px;
    }
}
/*telas de celular*/
@media (max-width: 480px) {
    .promogin {
        max-width: 90%;
        padding: 10px 20px;
        font-size: 12px;
    }
}

/*reduz para celulares*/
@media screen and (max-width: 480px) {
    .promogin {
        width: 95px; /*reduz padding telas menores*/
        padding: 8px;
    }    
    
    .promogin a {
        font-size: 12px;
    }
}

.top-menu {
    position: fixed;
    right: 22px;
    background-color: #CB009E;
    padding: 12.6px;
    border-radius: 10px;
    line-height: 0;
    z-index: 1001
}

.top-menu a {
    margin: 5 5px; 
    line-height: normal;
}

.top-menu img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-left: 10px;
}

.vertical-line {
    border-left: 1px solid white;
    height: 40px;
    margin: auto;
}
.container-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 1%;
}
.container-location {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    margin-top: 70px;
    margin-left: 10px;
}
.container-location p {
    margin-right: 5px;
    font-weight: 21px;
}
.location-box {
    flex-grow: 0.02;
} /*não consegui mais ajustar o tamanho da caixa?????????????????*/
.location-box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.location-box input {
    width: 100%;
    padding: 6px;
    border: 1px solid #434343;
    border-radius: 4px;
    box-sizing: content-box;
}
.login-signup {
    display: inline-block;
    background-color: #03081F;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 70px;
    margin-right: 40px;
    border-radius: 18px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.3s ease;
}
.login-signup:hover {
    background-color: #03081fd8;
}

/* redes e carrossel*/
.section-redes-e-carrossel {
    display: grid;
    grid-template-columns: 1fr, 1fr, 3fr; /*o carrossel ocupa mais espaço*/
    background-color: yellow;
    padding: 15px 30px;
    border-radius: 10px;
    gap: 20px;
    max-width: 7 0%;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: center;
}
.info {
    grid-column: 1; /* Primeira coluna */
    justify-self: start; /* Alinha à esquerda da coluna */
    align-self: end; /* Alinha ao final da coluna */
}

.redes {
    grid-column: 2; /* Segunda coluna */
    text-align: center;
}

.redes ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.redes li {
    margin-bottom: 10px;
}

/*tentativa carrossel youtube*/
.carrossel-container {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 300px;
    width: 450px;
}

.slides {
    width: 300%;
    height: 300px;
    display: flex;
}
.carrossel {
    width: 33%;
    position: relative;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.slides input {
    display: none;
}

.carrossel img {
    width: 450px;
    height: 300px;
}

.manualnavigation {
    position: absolute;
    width: 450px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

/*carrossel com luth*
.carrossel-container {
    /*grid-column: 3; /* Terceira coluna */
   /* position: relative;
   /* width: 100%;*/
   /* overflow: hidden; 
!!!!!!!!!!!!!!!!!!!!!!!!*/
/* carrossel*/

/*.carrossel {
    display: flex;
    margin: 0;
    padding: 0;
    width: 50%;
    overflow: scroll;
    scrollbar-width: none;
    /*transition: transform 0.5s ease-in-out;*/



/*.carrossel-container img {
    width: 100%;
    height: auto;
    display: block;
}
*/
/*.button.voltar, .button.avançar {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: whitesmoke;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
}

button.avançar {
    left: 10px;
}

.button.voltar {
    right: 10px;
}
/* não consegui reduzir e posicionar o banner avaliação*/

/*responsividade*/
/*@media (max-width: 768px) {
    .carrossel-section {
        grid-template-columns: 1fr; /* Uma única coluna para telas menores */
        padding: 10px 20px;
    }
    
    /*.info, .redes, .carrossel-container, .banner-avaliacao {
        justify-self: center; /* Centraliza os elementos */
        margin-bottom: 10px;
    }
}

/*@media (max-width: 480px) {
    .carrossel-section {
        background-color: transparent; /* Remove o fundo em telas pequenas */
        padding: 0;
        border-radius: 0;
        grid-template-columns: 1fr; /* Uma única coluna */
    }

    /*.info, .redes, .banner-avaliacao {
        display: none; /* Oculta os elementos exceto o carrossel */
    }
    
    .carrossel-container {
        width: 100%;
        margin: 0;
    }
}
/*
@media (max-width: 768px) {
    .section-redes-e-carrossel {
        flex-direction: column;
        align-items: flex-start;
   }

   .carrossel-container {
        max-width: 100%;
   }
}
*/
.indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}
*/
.indicator {
    width: 10px;
    height: 10px;
    background-color: (255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: (255, 255, 255, 1);
}
/*nav.redes {
    display: flex;

}
.redes ul{ 
    display: flex;
    flex-direction: column;
    align-items: center;
main section {
    display: flex;
    justify-content: space-evenly;

}}*/

nav.procure-o-seu-gin-preferido {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

#search-product-input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #434343;
    border-radius: 21px;
    width: 200px;
    outline: #03081F;
    font-weight: bold;
    cursor: text;
    margin-bottom: 20px;

}

.menu-principal {
    list-style-type: none; /*pra remover o bullet point*/
    padding: 10px;
    margin: 0px;
    display: flex;
    background-color: #CB009E;
    width: 97%;
    justify-content: space-between;
}

.menu-principal ul {
    display: contents;
    padding-right: 20px;
}
.menu-principal li {
    margin-right: 0%;
    padding: 1%;
    text-align: center;
}

.menu-principal a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

.menu-principal a:hover {
    background-color: #03081F;
    border-radius: 27px;
}

/*MIX DE PRODUTOS*/
.menu-openner {
    margin-right: 15px;
    font-size: 26px;
    background-color: #ef9a9a;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-openner span {
    margin-right:10px;
}

.menu-closer {
    width:32px;
    height:32px;
    display:none;
    font-size: 30px;
}

aside {
    background-color:#ffcdd2;
    width:0vw;
    font-family:'Hepta Slab', Helvetica, Arial;
    transition:all ease .2s;
    overflow-x:hidden;
}

aside.show {
    width:30vw;
}

.cart-area {
    padding:20px;
}

main {
    flex:1;
    padding:20px;
    margin-top:60px;
}

h1, h2 {
    font-family:'Hepta Slab', Helvetica, Arial;
    text-align: center;
}

.gin-area {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.gin-item {
    text-align: center;
    max-width:250px;
    font-family:'Hepta Slab', Helvetica, Arial;
    margin:0 auto 50px auto;
}

.gin-item a {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
}

.gin-item--img {
    width:200px;
    height:200px;
    background-color:#EEE;
    border-radius:100px;
    box-shadow:0px 10px 50px rgba(0, 0, 0, 0.2);
}

.gin-item--img img {
    width:100%;
    height:auto;
}

.gin-item--add {
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:25px;
    background-color:#d32f2f;
    text-align:center;
    color:#FFF;
    font-size:22px;
    cursor:pointer;
    margin-top:-25px;
    transition:all ease .2s;
}

.gin-item a:hover .gin-item--add {
    background-color:#b71c1c;
}

.gin-item-price {
    font-size:15px;
    color:#333;
    margin-top:5px;
}

.gin-item-name {
    font-size:20px;
    font-weight: bold;
    color:#000;
    margin-top:5px;
}

.gin-item-desc {
    font-size:13px;
    color:#555;
    margin-top:10px;
}

.ginWindowArea {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(255, 255, 255, 0.5);
    display:none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
}

.ginWindowBody {
    width:900px;
    background-color:#FFF;
    border-radius:10px;
    box-shadow:0px 0px 15px #999;
    display:flex;
    margin:20px 0px;
}

.ginBig {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.ginBig--back {
    position:absolute;
    width:30px;
    height:30px;
    background-color:#000;
}

.ginBig img {
    height:400px;
    width:auto;
}

.ginInfo {
    flex:1;
    font-family:'Hepta Slab', Helvetica, Arial;
    padding-bottom:50px;
}

.ginInfo h1 {
    margin-top:50px;
}

.ginInfo .ginInfo-desc {
    font-size:15px;
    color:#999;
    margin-top:10px;
    font-family:'Lato',Helvetica,Arial;
}

.ginInfo-sector {
    color:#CCC;
    text-transform: uppercase;
    font-size:14px;
    margin-top:30px;
    margin-bottom:10px;
}

.ginInfo--sizes {
    display:inline-flex;
    border-radius:10px;
    overflow:hidden;
}

.ginInfo--size {
    padding:10px 15px;
    color:#000;
    background-color:#EEE;
    font-size:13px;
    font-weight: bold;
    cursor:pointer;
}

.ginInfo--size:hover {
    background-color:#CCC;
}

.ginInfo--size.selected {
    background-color:#d32f2f;
    color:#FFF;
}

.ginInfo--size.selected span {
    color:#D6D6D6;
}

.ginInfo--size span {
    font-size:12px;
    color:#999;
    font-weight: normal;
}

.ginInfo--price {
    display:flex;
    align-items:center;
}

.ginInfo-actualPrice {
    font-size:28px;
    margin-right:30px;
}

.ginInfo-qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}

.ginInfo-qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}

.ginInfo-qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}

.ginInfo-addButton {
    margin-top:30px;
    padding:20px 30px;
    border-radius:20px;
    background-color:#48d05f;
    color:#FFF;
    display:inline-block;
    cursor:pointer;
    margin-right:30px;
}

.ginInfo-addButton:hover {
    background-color:#32a345;
}

.ginInfo-cancelButton {
    display:inline-block;
    cursor:pointer;
}

.ginInfo-cancelMobileButton {
    display:none;
    height:40px;
    text-align:center;
    line-height: 40px;
    margin-bottom:30px;
}

.cart {
    margin-bottom:20px;
}

.cart-item {
    display:flex;
    align-items:center;
    margin:10px 0;
}

.cart-item img {
    width:40px;
    height:40px;
    margin-right:20px;
}

.cart-item-nome {
    flex:1;
}

.cart-item-qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}

.cart-item-qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}

.cart-item--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}

.cart-totalitem {
    padding:15px 0;
    border-top:1px solid #d32f2f;
    color:#315970;
    display:flex;
    justify-content: space-between;
    font-size:15px;
}

.cart-totalitem span:first-child {
    font-weight: bold;
}

.cart-totalitem.big {
    font-size:20px;
    color:#000;
    font-weight: bold;
}

.cart-finalizar {
    padding:20px 30px;
    border-radius:20px;
    background-color:#48d05f;
    color:#FFF;
    cursor:pointer;
    text-align:center;
    margin-top:20px;
    border:2px solid #63f77c;
    transition: all ease .2s;
}

.cart-finalizar:hover {
    background-color:#35af4a;
}

@media (max-width:1000px) {
    .gin-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:840px) {
    body {
        flex-direction: column;
    }
    .gin-area {
        display:block;
    }
    .gin-item {
        max-width:100%;
    }
    header {
        display:flex;
    }
    /*
    main {
        padding-top:60px;
    }
    */
    aside {
        width:auto;
        position:fixed;
        left:100vw;
        right:0;
        top:0;
        bottom:0;
        transition: all ease .2s;
    }
    aside.show {
        width:auto;
    }
    .cart-area {
        width:100vw;
    }

    .menu-closer {
        display:block;
    }

    .ginWindowArea {
        justify-content:flex-start;
        align-items: flex-start;
    }

    .ginWindowBody {
        width:100vw;
        display:block;
        padding:20px;
        border-radius:0;
        box-shadow:none;
        margin:0;
    }

    .ginBig img {
        width: 75%;
        height: auto;
    }

    .ginInfo h1 {
        margin-top:20px;
    }

    .ginInfo-qtarea {
        height:60px;
    }
    
    .ginInfo-qtarea button {
        font-size:25px;
        padding:0px 25px;
    }

    .ginInfo-qt {
        line-height: 60px;
        font-size:20px;
    }

    .ginInfo-addButton {
        font-size:20px;
        display:block;
        text-align:center;
        margin:30px auto;
    }

    .ginInfo-cancelButton {
        display:none;
    }

    .ginInfo-cancelMobileButton {
        display:block;
    }

}

@media (max-width:450px) {
    header h1 {
        font-size: 1.5rem;
    }
    .menu-openner {
        font-size: 1.5rem;
    }
}

@media (max-width:380px) {
    header h1 {
        font-size: 1rem;
    }
    .menu-openner {
        font-size: 1.5rem;
    }
}

#img-logo {
    width: 50px;
}


h2 { /*deveria ser h2 mesmo? É um produto secundário...*/
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*substituir por poppins*/
    font-weight: bolder;
}
h3 {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*substituir por poppins*/
    font-weight: bolder;
    text-align: center;
}
footer {
    background-color: darkgray;
    padding: 0px;
}

.voltar-inicio {
    display: flexbox;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
}

.voltar-inicio:hover {
    background-color: #434343 ;
}

#voltar-inicio {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: transparent;
}

#voltar-inicio a:hover {
    font-weight: bold;
    cursor: pointer;
}
/* Participe promoções exclusivas por email*/
h4 {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*substituir por poppins*/
    font-weight: bolder;
    text-align: center;
    padding-top: 0px;
}
/* subscrição do email */

.subscreva {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: -100px;
}

.subscreva input {
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 18px;
    outline: none;
    width: 300px;
}

.error-email {
    color: #CB009E;
    font-size: 0.875em;
    margin-top: 5px;
    display: none;
}

.subscreva-button {
    padding: 10px 20px;
    background-color: yellow;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-size: 16px;
    transition: ease-in;
    position: relative;
    left: -25%;
    z-index: 1; /* pro botão ficar por cima*/

}

.subscreva-button {
    background-color:backdrop
} /*gostaria de fazer o botão mexer/afundar*/

/*Não enviamos spam, leia nossa política de email*/

h5 {
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*substituir por poppins*/
    font-weight: bolder;
    text-align: center;
    padding-top: 1px;
}

/* lista termos legais*/
.legal {
    width: fit-content;

}

.legal ul {
    justify-content: left;
    display: flex
}
/*itens da lista*/
.legal li {
    list-style-type: none;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
}

/* links da lista:estilo*/
.legal li a {
    text-decoration: line;
    color: #03081F;
    padding: 10px 30px;
    transition: transform 0.3s;
}

.legal li a: hover; {
    transforme:translate 3px
}

/* ajuda-trabalhe conosco*/
.links-importantes {
    width: fit-content
    
    
}
.links-importantes ul{
    justify-content: left;
    display: flex-end
    
}

.links-importantes li {
    list-style-type: none;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
}

.links-importantes li a {
    text-decoration: line;
    color: #03081F;
    padding: 10px 30px;

}
/*como eu alinho o paragrafo?*/
.copyright {
    align-content: center;
}

