body {
    background-color: #EDD92A;
}

h1 {
    color: white;
}
 
nav{
   input{
    width: 240px;
    height: 60px;
    text-align: center;
    background-color: rgb(177, 223, 223);
   }
}

footer {
    display: flex;
    gap: 1rem;
    
}


