body{
 margin: 0;
}

header{
    background-color: #edd92a; 
    font-size: 20px;
    margin: 0;
 }

 p {
    text-align:justify;
 }

main{
    background-color: white;

}

footer{
    background-color: white;

}

a{
    text-decoration: none;

}

footer img{
    margin: 0 auto;
    display:flexbox;

}

#div_img {
    background-image: url(https://www.instagram.com/gintrao?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==);
}